:root {
  --cinza-escuro: #3E3E3E;

  --verde-primario: #97CD29;
  --verde-secundario: #056A54;

  --cinza-primario: #3E3E3E;

  --laranja: #FF5733;

  --branco-neve: #F5F7F8;
}

.background {
  background: brown;
}
.pad {
  padding: 10px 0;
}
.fundo-branco-neve {
  background: var(--branco-neve);
}
/* ESTILIZAÇÃO TOPO */
.topo {
  background: var(--verde-primario);
  color: #fff;
  padding: 12px 0px;
}
.topo .logo {
  padding: 0px 50px;
}
.topo .menu ul {
  list-style: none;
}
.topo .menu li {
  display: inline;
  margin: 0px 40px;
}
.topo .menu {
  margin-top: 20px;
}
.topo .btn-login {
  margin-top: 10px;
}
.topo .btn-login .link-login {
  font-size: 1.5em;
  background: var(--verde-escuro);
  display: block;
  max-width: 160px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

/* ESTILIZAÇÃO CONTEUDO INTRODUTÓRIO */
.wallpaper-intro{
  width: 100%;
  background:  url("../Image/fundo-inico.png") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.conteudo-intro {
  margin: 5% 0;
  min-height: 550px;
}
.conteudo-intro h1 {
  font-size: 5em;
  padding: 14px 0px;
  font-weight: bold;
  color: #FFF;
  padding: 15px 20px;
}
.conteudo-intro p {
  width: 80%;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 200%;
  padding: 40px;
  color: #FFF;
}
.conteudo-intro button {
  width: 70%;
  max-width: 300px;
  font-size: 1.4em;
  height: 65px;
  border-radius: 50px;
  margin: 0 5%;
  background: var(--verde-primario);
  outline: none;
  cursor: pointer;
  color: #FFF;
  border: 3px solid var(--verde-primario);
}
.conteudo-direito button {
  width: 80%;
  cursor: pointer;
  margin-top: 70%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 2em;
  border-radius: 50px;
  font-weight: bold;
  background: var(--verde-escuro);
  color: #fff;
}

/* ESTILIZAÇÃO CONTEUDO O QUE SOMOS */
.oquesomos h1 {
  font-size: 2.5em;
  text-align: center;
}
.box-nos {
  padding: 15px;
  /* border: 1px solid #DDD; */
  /* background: var(--corTeste); */
  width: 100%;
  /* border-radius: 15px; */
}
.box-nos ul {
  list-style: none;
}
.box-nos ul li {
  display: block;
  margin: 50px 0px;
}
.box-nos img {
  width: 100%;
  max-width: 46px;
  margin-right: 15px;
  float: left;
}
.box-nos h2 {
  font-weight: bold;
  font-size: 1.7em;
  color: var(--laranja);
}
.box-nos p {
  font-size: 1.3em;
  color: var(--verde-primario);
}
/* .box-motivoGreencode {background: #009944;} */
.box-motivoGreencode h1 {
  text-align: left;
  font-weight: bold;
  font-size: 3em;
  color: var(--cinza-primario);
  position: absolute;
}
.box-motivoGreencode img {
  width: 60%;
  height: 90%;
  margin: 0 20%;
}
.caixas-explicativas h3 {
  font-size: 1.7em;
  text-align: center;
  padding: 10px 0px;
  font-weight: bold;
}
.caixas-explicativas p {
  font-size: 1em;
  text-align: center;
  padding: 4px 0px;
}
.caixas-explicativas img {
  width: 80px;
  height: 80px;
  margin-left: 40%;
}

/* ESTILIZAÇÃO CONTEUDO COMO FUNCIONA */
.secao-comofunciona {
  /* background: #DDD; */
}
.secao-comofunciona h1 {
  font-size: 3em;
  text-align: left;
  color: var(--verde-primario);
  font-weight: bold;
  padding: 25px;
  /* margin-bottom: 70px; */
}
.como-funciona-explicacao ul{
  list-style: none;
  float: left;
  margin-bottom: 70px;
}
.como-funciona-explicacao li {
  display: inline-block;
  margin-top: 50px;
  padding: 10px;
}
.como-funciona-explicacao li img {
  width: 100%;
  max-width: 56px;
  float: left;
  padding: 4px;
}
.como-funciona-explicacao li p {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 70px;
  color: var(--laranja);
}
.banner-app {
  background:  url("../Image/greencode-app.png") no-repeat center center;
  background-size: contain;
  background-attachment: center;
}
.rodape-comofunciona {
  background: var(--verde-secundario);
  padding: 10px 0px;
  bottom: 0;
}
.rodape-comofunciona .texto-rodape img {
  float: left;
  margin-top: 20px;
  width: 100%;
  max-width: 96px;
}
.rodape-comofunciona .texto-rodape h1 {
  color: #FFF;
  margin-left: 100px;
  font-weight: lighter;
  font-size: 2.4em;
}
/* ESTILIZAÇÃO CONTEUDO PORQUE RECICLAR */
.explicacao-reciclar h1 {
  font-size: 3em;
  font-weight: bold;
  color: var(--verde-secundario);
  padding: 10px 15px;
  margin-top: 20px;
}
.explicacao-reciclar p {
  font-size: 1.3em;
  font-weight: normal;
  padding: 25px 20px;
  color: var(--cinza-primario);
  line-height: 200%;
  color: var(--verde-primario);
}
.explicacao-reciclar .iconsReciclagem {
  width: 100%;
  float: left;
  margin-top: 70px;
}
.explicacao-reciclar .iconsReciclagem ul {
  list-style: none;
  width: 100%;
  float: left;
}
.explicacao-reciclar .iconsReciclagem li {
  display: inline-block;
  width: 45%;
  margin: 0 2%;
}
.explicacao-reciclar .iconsReciclagem img {
  width: 100%;
  max-width: 86px;
  float: left;
}
.explicacao-reciclar .iconsReciclagem p {
  width: 40%;
  font-size: 1em;
  padding: 0;
  font-weight: lighter;
  float: left;
  color: var(--laranja);
}
.banner-oquereciclamos {
  background: #009944;
  background:  url("../Image/bannerOqueReciclamos.png") no-repeat center center;
  background-size: cover;
  background-attachment: center;
  height: 100vh;
}
/* ESTILIZAÇÃO MARCAS QUE APOIA */
.secao-marcas h1 {
  text-align: center;
  font-weight: lighter;
}
ul.logoMarcas {
  list-style: none;
  margin: 40px 0px;
}
ul.logoMarcas li {
  display: inline;
  margin: 15px 70px;
}
ul.logoMarcas li img {
  width: 80%;
  max-width: 108px;
}
/* ESTILIZAÇÃO SEÇÃO EQUIPE */
.secition-equipe {
  background: var(--verde-secundario);
  padding-bottom: 90px;
}
.secition-equipe h1 {
  text-align: center;
  padding: 3% 0;
  font-weight: lighter;
  color: var(--verde-primario);
}
.box-equipe {
  margin-left: 2%;
}
.box-equipe img {
  width: 20%;
  margin: 3% 40%;
  border-radius: 100px;
}
.box-equipe h4 {
  text-align: center;
  padding: 10px 0px;
  font-weight: lighter;
  color: #777777;
}
.box-equipe p {
  text-align: center;
  padding: 10px 0px;
}
.box-equipe ul {
  list-style: none;
  margin: 0 25%;
}
.box-equipe li {
  display: inline-block;
  margin: 0 4%;
}
.box-equipe li img {
  width: 100%;
  max-width: 18px;
  display: inline;
}
/* ESTILIZAÇÃO CONTEUDO FALE CONOSCO */
.faleconos-explicacao {
  background: #FFF;
  padding: 30px 0px;
}
.faleconos-explicacao .box-mesagem h1 {
  font-size: 6em;
  padding: 10px 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.faleconos-explicacao .box-mesagem p {
  padding: 10px 20px;
  font-size: 1.7em;
  font-weight: lighter;
  color: var(--cinza-primario);
  line-height: 200%;
}
.formulario-faleconosco form {
  display: block;
}
.formulario-faleconosco input,
.formulario-faleconosco select,
.formulario-faleconosco textarea {
  max-width: 400px;
  margin: 20px 10px;
}
.formulario-faleconosco textarea { height: 180px;}
.formulario-faleconosco input[type="submit"] {
  max-width: 300px;
}
/* 
    PÁGINA DE LOGIN
*/

/* ESTILIZAÇÃO FORMULARIO DE LOGIN */
.fundo-login {
  background: var(--verde-primario);
  height: 100vh;
  background:  url("../Image/gogreen.jpg") no-repeat center center;
  background-size: cover;
}
.box-login {
  padding: 20px;
  background: #FFF;
  border-radius: 7px;
  margin: 5% 0;
}
.box-login h1 {
  font-size: 2.5em;
  padding: 0px 10px;
  color: var(--cinza-primario);
  margin-top: 20px;
  margin-left: 20px;
}
.box-login p {
  font-size: 1em;
  padding: 0px 10px;
  color: var(--cinza-primario);
  margin-left: 20px;
}
.box-login p.texto-cadastrese {
  width: 400px;
  font-weight: lighter;
  color: var(--cinza-primario);
}
p.texto-cadastrese a {
  font-weight: bold;
  color: var(--verde-secundario);
}
.formulario-login label {
  display: block;
  font-weight: lighter;
  color: #DDD;
}
.formulario-login form {
  display: block;
  padding: 20px;
  margin-left: 20px;
}
.formulario-login input {
  margin-bottom: 40px;
  max-width: 450px;
}
.formulario-login input[type="submit"] {
  max-width: 200px;
  height: 45px;
  margin: 30px 0px;
}
.formulario-login .link-esqueciSenha {
  text-align: right;
  display: block;
  margin-right: 50px;
  color: var(--verde-secundario) !important; 
  font-weight: bold;
}
/*
    PÁGINA DE CADASTRO
*/
.fundo-cadastro {
  background: #056A54;
  background:  url("../Image/fundo-cadastro.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 130vh;
}
.box-cadastrosss {
  padding: 50px;
  background: #FFF;
  border-radius: 7px;
  margin: 4% 0;
}
.box-cadastrosss h1 {
  font-size: 2.5em;
  padding: 0px 10px;
  color: var(--cinza-primario);
  margin-top: 20px;
}
.box-cadastrosss p {
  font-size: 1em;
  padding: 0px 10px;
  color: var(--cinza-primario);
}
.formulario-cadastro label {
  display: block;
  font-weight: lighter;
  color: #DDD;
}
.formulario-cadastro form {
  display: inline;
  padding: 10px;
  margin-left: 20px;
}
.formulario-cadastro input {
  max-width: 550px;
  margin-bottom: 30px;
}
.campos-metade {
  float: left;
  width: 47%;
  margin-right: 10px;
}
.campos-metade label {
  display: inline-block;
  width: 45%;
}
.campos-metade input {
  width: 100%;
}
.formulario-cadastro input[type="submit"] {
  max-width: 200px;
  height: 45px;
  margin: 30px 0px;
}
/*
    PÁGINA DE BOAS VINDAS
*/
.fundo-welcome {
  height: 100vh;
}
.message-welcome {
  margin: 5% 0;
}
.message-welcome h1 {
  font-size: 5em;
  margin: 20px 0;
}
.message-welcome .box-welcome-message {
  padding: 20px;
  background: var(--verde-secundario);
  border-radius: 10px;
}
.box-welcome-message p {
  font-size: 1.3em;
  color: #FFF;
  line-height: 200%;
  padding: 20px;
}
.message-welcome button {
  width: 60%;
  height: 70px;
  border-radius: 100px;
  color: #FFF;
  font-size: 1.3em;
  outline: none;
  background: var(--verde-primario);
  border-color: var(--verde-primario);
  margin-top: 70px;
  cursor: pointer;
}
.banner-welcome {
  background: #009944;
  background:  url("../Image/fundo-welcome.gif") no-repeat center center;
  background-size: cover;
}
/*
    PÁGINA DE DASHBOARD
*/
.dashboard {
  background: var(--branco-neve);
}
.dashboard h1 {
  padding: 20px 0px;
}
.informacoes-usuario {
   margin: 10% 0;
   padding: 20px;
}
.informacoes-usuario h1 {
  font-size: 2.7em;
  font-weight: bold;
}
.informacoes-usuario button {
  margin: 70px 50px;
  width: 70%;
  height: 70px;
  border: 2px solid var(--verde-primario);
  background: var(--verde-primario);
  text-transform: uppercase;
  color: #FFF;
  font-size: 1.3em;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}
.informacoes-usuario .box-pontos {
  float: left;
  background: var(--verde-secundario);
  width: 45%;
  padding: 15px;
  border-radius: 10px;
  margin-right: 20px;
}
.box-pontos h4,
.box-itens h4 {
  font-size: 1.3em;
  font-weight: lighter;
  color: #FFF;
}
.box-pontos p,
.box-itens p {
  font-size: 1.3em;
  color: #FFF;
  font-weight: bold;
}
.informacoes-usuario .box-itens {
  float: left;
  background: var(--verde-primario);
  width: 45%;
  padding: 15px;
  border-radius: 10px;
}
.secao-objetivo {
  margin: 10% 0;
  padding: 20px;
}
.secao-objetivo p {
  font-size: 1.2em;
  font-weight: lighter;
  color: var(--cinza-primario);
  padding: 15px;
  line-height: 220%;
}
.secao-objetivo .message-objetivo {
  width: 90%;
  background: var(--laranja);
  padding: 7px;
  border-radius: 10px;
}
.message-objetivo h1 {
  font-size: 1.9em;
  padding: 4px 10px;
  color: #FFF;
  font-weight: lighter;
}
.message-objetivo p {
  font-size: 0.9em;
  color: #FFF;
  font-weight: normal;
  line-height: 150%;
}
.extrato h3 {
  border-bottom: 1px solid var(--cinza-escuro);
  padding: 4px 0px;
  font-size: 1.3em;
  font-weight: bold;
}
.boxInfoExtrato {
  background: var(--branco-neve);
  padding: 10px;
  margin-bottom: 7px;
  border-radius: 5px;
  border: 1px solid var(--verde-secundario);
}
.boxInfoExtrato .imageExtrato {
  float: left;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  background: #FFF;
  margin-top: 4%;
  margin-left: 4px;
  margin-right: 10px;
}
.imageExtrato img{
  float: left;
  width: 100%;
  max-width: 56px;
  height: 56px;
}
.boxInfoExtrato ul {
  list-style: none;
  margin: 10px 20px;
}
.boxInfoExtrato li {
  display: block;
  margin: -10px;
}
.boxInfoExtrato .list_extract img{
  float: left;
  width: 100%;
  max-width: 24px;
  height: 24px;
}
.secao-marketplace {
  /* background: #056A54; */
}
.secao-marketplace h1 {
  color: var(--cinza-primario);
  font-weight: bold;
}
.secao-marketplace p {
  font-size: 1.2em;
  font-weight: lighter;
  color: var(--cinza-primario);
  padding: 15px;
  line-height: 220%;
}
.secao-marketplace button {
  width: 70%;
  height: 70px;
  border: 2px solid var(--verde-primario);
  text-transform: uppercase;
  background: transparent;
  color: var(--verde-primario);
  font-size: 1.3em;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  margin: 5% 13%; 
}
/* CÓDIGO ANTIGO */
/*
    Classes Reutilizaveis
*/
.form-arredondado {
  width: 100%;
  border-radius: 7px;
  height: 75px;
  border: 1px solid var(--cinza-primario);
  padding: 10px;
  outline: none;
}
.form-arredondado:focus {
  border-color: var(--verde-primario);
  font-weight: bold;
  color: var(--verde-primario);
}
.btn-form-arredondado {
  width: 80%;
  height: 55px;
  border-radius: 100px;
  font-weight: bold;
  color: var(--cinza-primario);
  border: 2px solid var(--cinza-primario);
  background: #FFF;
  cursor: pointer;
  transition: all 0.7s;
}
.btn-form-arredondado:hover {
  color: #FFF;
  background: var(--verde-primario);
  border-color: var(--verde-primario);
}
.formulario-linha {
  width: 100%;
  height: 50px;
  border: 0px;
  border-bottom: 2px solid var(--cinza-primario);
  outline: none;
  transition: ease-in 0.4s;
}
.formulario-linha-metade {
  display: inline-block;
  width: 45%;
  /* float: left; */
  height: 50px;
  border: 0px;
  border-bottom: 2px solid var(--cinza-primario);
  outline: none;
  transition: ease-in 0.4s;
}
.formulario-linha:focus,
.formulario-linha-metade:focus {
  border-color: var(--verde-primario);
  color: var(--verde-primario);
  font-weight: bold;
}
.btn-formulario-linha {
  width: 80%;
  height: 55px;
  border-radius: 100px;
  font-weight: bold;
  color: #FFF;
  background: var(--verde-primario);
  cursor: pointer;
  border: 2px solid var(--verde-primario);
}
.green-primary{
  color: var(--verde-primario);
}
.btn-orange {
  background: var(--laranja);
  border-color: var(--laranja);
}
.textBold {
  font-weight: bold;
}
.simulacaoImage{
  width: 100%;
  max-width: 126px;
  height: 126px;
  background: #222222;
  float: left;
  margin: 10% 25%;
  border-radius: 100px;
}
.image_large {
  max-width: 300px;
}
.image_medium {
  max-width: 150px;
}
.image_small {
  max-width: 96px;
}
.btn-signUp-large button{
  width: 100%;
  height: 75px;
  font-size: 1.7em;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  margin: 10% 0;
  color: #FFF;
}
.fl-left{float: left;}
.fl-right{float: right;}
/* CLASS ESTILIZADORAS CASOS GENÉRICOS */
.borda-separadora {
  background: var(--cinza-escuro);
  width: 100%;
  padding: 2px 0px;
}
.espaco {
  margin-bottom: 70px;
}