:root {
  --cinza-escuro: #222222;
  --verde-escuro: #009944;
}

.background {
  background: brown;
}
.pad {
  padding: 10px 0;
}
/* ESTILIZAÇÃO TOPO */
.topo {
  background: var(--cinza-escuro);
  color: #fff;
  padding: 12px 0px;
}
.topo .menu ul {
  list-style: none;
}
.topo .menu li {
  display: inline;
  margin: 0px 40px;
}
.topo .menu {
  margin-top: 20px;
}
.topo .btn-login {
  margin-top: 10px;
}
.topo .btn-login .link-login {
  font-size: 1.5em;
  background: var(--verde-escuro);
  display: block;
  max-width: 160px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

/* ESTILIZAÇÃO CONTEUDO INTRODUTÓRIO */
.conteudo-esquerda {
  margin: 10% 0%;
}
.conteudo-esquerda h1 {
  font-size: 5em;
  padding: 14px 0px;
  font-weight: bold;
}
.conteudo-esquerda p {
  font-size: 1.7em;
  font-weight: normal;
  line-height: 250%;
}
.conteudo-direito button {
  width: 80%;
  cursor: pointer;
  margin-top: 70%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 2em;
  border-radius: 50px;
  font-weight: bold;
  background: var(--verde-escuro);
  color: #fff;
}

/* ESTILIZAÇÃO CONTEUDO O QUE SOMOS */
.oquesomos h1 {
  font-size: 3.5em;
  padding: 12px 0px;
}
.conteudo-direito {
  float: left;
  margin: 10% 0;
}
.caixas-explicativas h3 {
  font-size: 1.7em;
  text-align: center;
  padding: 10px 0px;
  font-weight: bold;
}
.caixas-explicativas p {
  font-size: 1em;
  text-align: center;
  padding: 4px 0px;
}
.caixas-explicativas img {
  width: 80px;
  height: 80px;
  margin-left: 40%;
}

/* ESTILIZAÇÃO CONTEUDO NOSSO PROPÓSITO/INCENTIVO */
.imagemFundo {
  width: 100vw;
  height: 500px;
  background-image: url("../Image/wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.texto-nossoIncentivo h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 8px 12px;
}
.texto-nossoIncentivo ul {
  list-style: none;
}
.texto-nossoIncentivo li {
  display: block;
  margin: 30px 0px;
}
.texto-nossoIncentivo li p {
  font-size: 1.4em;
  line-height: 175%;
}

/* ESTILIZAÇÃO CONTEUDO RODAPE */
.rodape {
  background: var(--cinza-escuro);
  padding: 30px 0px;
}
.rodape h1 {
  font-size: 3em;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}
.rodape button {
  margin: 3% 35%;
  background: var(--cinza-escuro);
  color: #fff;
  width: 30%;
  height: 70px;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px;
  border-color: #fff;
  cursor: pointer;
}

/* 
    PÁGINA DE LOGIN
*/

/* ESTILIZAÇÃO FORMULARIO DE LOGIN */
.formulario-login {
  background: #fff;
  width: 90%;
  padding: 20px 10px;
  margin-top: 25%;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 0 0 0.5em var(--cinza-escuro);
}
.formulario-login h1 {
  padding: 10px;
  font-weight: bold;
  font-size: 2em;
}
.formulario-login .caixadeentrada {
  width: 90%;
  height: 70px;
  outline: none;
  padding: 4px;
  margin: 30px 20px;
  border: 0px;
  border-bottom: 2px solid var(--cinza-escuro);
}
.formulario-login input[type="submit"] {
  width: 70%;
  height: 50px;
  border-radius: 50px;
  margin-left: 20px;
  cursor: pointer;
  font-weight: bold;
  border-color: var(--verde-escuro);
  color: var(--verde-escuro);
  outline: none;
}

/* CLASS ESTILIZADORAS CASOS GENÉRICOS */
.borda-separadora {
  background: var(--cinza-escuro);
  width: 100%;
  padding: 2px 0px;
}
.espaco {
  margin-bottom: 70px;
}

/*
    PÁGINA DE DASHBOARD
*/
.dashboard h1 {
  padding: 20px 0px;
}
.header{
  /* background: #009944; */
}
.btnResgate{
  /* background: #222222; */
}
.boxInfoUser{
  float: left;
  margin: 4px 10px;
  padding: 4px 10px;
  /* background: #fefefe; */
  width: 200px; 
}
.boxInfoUser h4{
  font-weight: bold;
  font-size: 1.3em;
}
.boxInfoUser p{
  font-weight: 500;
  font-size: 1.5em;
}
.progreco h1{
  font-size: 1.3em;
  border-bottom: 1px solid #222222;
  width: 100%;
  padding-top: 3px;
}
.boxProgress {
  float: left;
  width: 250px;
  margin: 4px 13px;
  /* background: #009944; */
}
.boxProgress h4{
  text-align: center;
  padding: 10px 0px;
  font-size: 1.5em;
  font-weight: 400;
}
.boxProgress .image_timeline {
  width: 100%;
  max-width: 126px;
  height: 126px;
  /* background: #222222; */
  float: left;
  margin: 10% 25%;
  border-radius: 100px;
}
.image_timeline img {
  float: left;
  width: 100%;
  max-width: 126px;
  height: 126px;
}
.btn-resgate{
  width: 80%;
  height: 50px;
  font-weight: 700;
  font-size: 1.3em;
  border-radius: 50px;
  float: left;
  margin: 25% 10%;
} 
.extrato h3 {
  border-bottom: 1px solid var(--cinza-escuro);
  padding: 4px 0px;
  font-size: 1.3em;
  font-weight: bold;
}
.boxInfoExtrato {
  background: #fefefe;
  padding: 10px;
  margin-bottom: 7px;
  border-radius: 5px;
  box-shadow: 0 0 0.1em var(--cinza-escuro);
}
.boxInfoExtrato .imageExtrato {
  width: 46px;
  height: 46px;
  border-radius: 50px;
  background: #FFF;
  float: left;
  margin-top: 7%;
  margin-left: 4px;
  margin-right: 10px;
}
.imageExtrato img{
  float: left;
  width: 100%;
  max-width: 46px;
  height: 46px;
}
.boxInfoExtrato ul {
  list-style: none;
  margin: 10px 20px;
}
.boxInfoExtrato li {
  display: block;
  margin: -10px;
}
.boxInfoExtrato .list_extract img{
  float: left;
  width: 100%;
  max-width: 24px;
  height: 24px;
}
.parceiros{
  /* box-shadow: 0 0 0.1em var(--cinza-escuro); */
}
.parceiros .btn-marketplace{
  width: 80%;
  height: 45px;
  border-radius: 50px;
  margin: 4% 10%;
}
.boxParceiros {
  float: left;
  width: 100%;
  /* background: #009944; */
  margin-bottom: 10px;
}
.boxParceiros .imageParceiros {
  float: left;
  width: 100%;
  padding: 10px;
  /* height: 106px; */
  /* background: var(--verde-escuro); */
} 
/*
    Classes Reutilizaveis
*/
.textBold {
  font-weight: bold;
}
.simulacaoImage{
  width: 100%;
  max-width: 126px;
  height: 126px;
  background: #222222;
  float: left;
  margin: 10% 25%;
  border-radius: 100px;
}
.image_large {
  max-width: 300px;
}
.image_medium {
  max-width: 150px;
}
.image_small {
  max-width: 96px;
}