html, body{
    background: var(--background-body);
    outline: none;
    font-family: 'Dosis', sans-serif;
}

input:focus{outline: none;}
select{background: transparent;}

:root{
    /* PALETA DE CORES */

    --primary-green: #4ccc8c;
    --secudary-green: #5ab688;

    --primary-gray: #2e2e2e;
    --secundary-gray: #828282;

    --green-primary: #225022;

    --white: #FFF;
}

.radius{border-radius: 50px;}

/* BACKGROUNDS */
.background-gray{background: var(--primary-gray)}
.background-home{background-image: url("../images/background-home.jpg"); background-repeat: no-repeat; background-attachment: fixed; background-position: top; height: 850px; width: 100%;}
.background-signup{background-image: url("../images/signup.jpg"); background-repeat: no-repeat; background-attachment: center; background-position: top; height: 850px; width: 100%;}
.background-login{background-image: url("../images/login.jpg"); background-repeat: no-repeat; background-attachment: center; background-position: top; height: 850px; width: 100%;}

.topo{float: left; width: 100%; background: transparent; padding: 10px 0px;}
.topo .logo{float: left; margin: 0px 10px;}
.topo ul{float: left; margin-left: 70px; max-width: 900px; width: 900px;}
.topo li{margin: 10px 10px}
.topo li a{font-family: 'Montserrat', sans-serif; font-weight: bold; text-transform: uppercase; color: var(--white); padding: 7px 12px; background: rgba(45, 45, 45, 0.205); border-radius: 7px;}

/* HOME */
.wallpaper-homes{background: #DDD; }
.info-banner{width: 700px; max-width: 700px; margin-top: 70px; float: left; background: transparent;}
.title-big{font-size: 5em; padding: 30px 0px; color: var(--white);}
.description{font-size: 1.2em; padding: 15px 0px; color: var(--white);}

/* LIST */
.list{list-style: none; margin: 10px 8px}
.list li{display: block; margin: 10px 0px;}

/* */
.card-info{border: none;}
.card-image{border: none;}

/* LOGIN */
.box-login h1{font-size: 3em; padding: 16px; text-align: left; font-weight: bold; margin-top: 25%;}
.link-singup{text-align: center; padding: 4px; font-weight: bold;}
.form-login{margin-top: 10%; margin-bottom: 25%; width: 100%;}
.form-login label{margin: 20px 0px;}
.form-login label{font-size: 1em; font-weight: bold;}
.form-login .fill{border: 0px; border-bottom: 2px solid var(--secundary-gray); padding: 4px;}
.form-login .fill:focus{font-weight: bold; color: var(--primary-green); border-color: var(--primary-green)}
.btn-signin{width: 100%;}
.box-image img{width: 954px; height: 789px;}

/* SIGNUP */
.form-signup{width: 85%;}
.form-signup label{margin: 15px 0px; font-size: 1.2em; font-weight: bold;}
.form-signup .fill{border: 0px; border-bottom: 2px solid var(--secundary-gray); padding: 4px;}
.form-signup .fill:focus{font-weight: bold; color: var(--primary-green); border-color: var(--primary-green)}
.btn-signup{width: 100%;}
/* BUTTONS */
.button-full{font-size: 1.7em; font-weight: bold; margin-top: 70px; background: transparent; border: 1px solid var(--primary-green); color: var(--primary-green);}
.button-full:hover{background: var(--secudary-green); color: var(--white); transition: all ease .7s;}

.btns-access{float: right; padding: 10px 4px; margin: 4px 16px; border-radius: 10px;}

.btn-green{background: var(--primary-green); color: var(--white); border: 2px solid var(--secudary-green);}
.btn-green:hover{background: var(--secudary-green); text-decoration: none; color: var(--white);}

.btn-line-white{background: transparent; color: var(--white); border: 1px solid var(--white); text-decoration: none;}
.btn-line-white:hover{text-decoration: none; color: var(--white)}

/* TITLE */
.title-left{text-align: left;}
.title-full{font-size: 3.5em;}
.text-bold{font-weight: bold;}

/* SPACE */
.pad-full{padding: 10px 0px;}
.pad-medium{padding: 8px 0px;}
.pad-small{padding: 4px 0px;}
.mar-full{margin: 10px 0px}
.mar-medium{margin: 8px 0px;}
.mar-small{margin: 4px 0px;}
.margin-bottom{margin-bottom: 30px;}

/* FONT */

/* FORM */
.form .fill{width: 100%; height: 50px; margin-bottom: 10px;}